body{
    margin: 0;
    padding: 0;
    background-color: #e0dede;
    font-family: 'Segoe UI', sans-serif;
}

header{
    background-color: #333;
    color: aliceblue;
    text-align: center;
    padding: 1rem;
}

main{
    max-width: 400px;
    margin: 2rem auto;
    padding: 1rem;
    background-color: white;
    box-shadow: 0px 0px 70px rgba(32, 32, 32, 1);
    border-radius: 20px;
}

input[type="text"]{
    width: 80%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 2px solid #aeadad;
    border-radius: 50px;
}
button{
    padding: 0.5rem 1rem;
    background-color: #257cda;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}
button:hover{
    scale: 1.1;
    background-color: grey;
}
ul{
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f9f9f9;
    padding: 0.5rem;
    border: 1px solid #ddd;
    margin-bottom: 0.5rem;
    border-radius: 3px;
}